<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="/static/style/chats.css">
    </head>
    <body>
        <div class="container mt-2 card">
            <form id="formDataDiri" autocomplete="off" action="/try" method="post">
            <nav class="card-header navbar chat-header ">
                <ul class="navbar chat-header-item">
                    <li class="nav-item avatar rounded-circle">
                        <img src="/static/assets/bot.png" alt="avatar-bot">
                    </li>
                    <li class="nav-item chat-header-name">
                        <h4>Melbo</h4>
                    </li>
                </ul>
                <ul class="navbar">
                    <li class="nav-item">
                        <a href="#info" class="fa fa-info"></a>
                    </li>
                    <li class="nav-item" style="padding-left: 50px;">
                        <a href="#close" class="fa fa-close"></a>
                    </li>
                </ul>
            </nav>
            <div class="chat-body">
                <div id='chat-default' class="chat-body-system row">
                    <div class="col-2">
                        <div class="avatar rounded-circle">
                            <img src="static/assets/bot.png" alt="avatar-bot">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="chat-body-system-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor cumque sequi sit nemo voluptatibus odit neque corrupti, repudiandae rem vitae ullam quibusdam velit deleniti est aliquid repellat? Earum, reprehenderit.</p>
                        </div>
                    </div>
                </div>
                <div id ="chat-user">
                </div>
                <div id="chat-system">

                </div>
                
            </div>
            <div class="chat-button row">
                <input id='input-question' type="text" class="col" name="question">
                <div class="col-1">
                    <input type="submit" id="btn-send" value='✔' class="button rounded-circle">
                </div>
            </div>
            </form>
        </div>
        <script type="text/javascript">
        </script>
    </body>
</html>