@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* 
{
    padding: 0;
    margin: 0;
}

.header-chat{
    background-color: #FF7800;
    border-radius: 0px 0px 20px 20px;
}

.header-chat img{
    width: 50px;
}

.body-chat
{
    height: 500px;
    margin: 4%;
    overflow-y: auto;
    overflow-x: hidden;
}

.body-chat img{
    width: 70%;
    background-color: #FFBC97;
    border-radius: 50%;
    padding: 10%;
}


.chat-anon-text
{
    background-color: #FF7800;
    border-radius: 20px 20px 20px 0px;

}

.chat-user
{
    justify-content: right;
    margin-top: 4%;
}

.chat-user-text
{ 
    background-color: #FF7800;
    border-radius: 20px 20px 0px 20px;
    justify-content: right;
}


.btn-chat
{
    background-color: #FF7800;
    padding-top: 4%;
    padding-bottom: 4%;
}

