@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*
{
    padding: 0;
    margin: 0;
}

.chat-header
{
    background-color: #FF7800; 
    padding-bottom: 0;
    color: #F7F7F7;
}

.chat-header a{
    text-decoration: none;
    color: #F7F7F7;
}

.chat-header li{
    list-style: none;
}

.chat-header .chat-header-name
{
    padding-left: 10px;
}

.chat-header .chat-header-item
{
    padding: 0;
}

.avatar
{
    background-color: #FFBC97;
    border: 20px;
    width: 8vh;
}

.avatar img{
    padding: 10%;
    width: 8vh;
}

.chat-body
{
    margin:3%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
}

.chat-body-system, .chat-body-user
{
    margin-bottom:5%;
}

.chat-body-user
{
    justify-content: right;

}

.chat-body .chat-body-system-text{
    background-color: #FFBC97;
    border-radius: 20px 20px 20px 0px;
    padding: 2%;
}

.chat-body .chat-body-user-text{
    background-color: #FFBC97;
    border-radius: 20px 20px 0px 20px;
    padding: 2%;
    justify-content: right;
}

.chat-button
{
    background-color: #FF7800;
    padding: 2%;
}

.chat-button input[type='text']
{
    border-radius: 20px;
    border: 0;
}

.chat-button input[type='text']:focus
{
    background-color: #FFBC97;
    border: none;
}

.chat-button .button
{
    background-color: white;
    margin-left: 1%;
    color: #FF7800;
    cursor: pointer;
}

.chat-button .button:hover{
    background-color: #FFBC97;
    color: #F7F7F7;
}