@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Merriweather:wght@300;400;900&family=Poppins:wght@300;700;900&family=Sora:wght@100;200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: aloja;
  src: url(/static/assets/font/aloja.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Montserrat";
  font-weight: 400;
  border-color: #f7f7f7;
}

.navigation {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  color: bisque;
  background-color: #ff7800;
  width: 100%;
  /* margin-bottom: 4em; */
  transition: 0.5s ease-in;
  z-index: 9999999999;
}

.navigation .icon {
  display: flex;
  font-family: aloja;
  color: bisque;
}

.navigation ul {
  display: none;
  text-transform: uppercase;
  background-color: #ff7800;
  list-style: none;
  justify-content: space-between;
  margin-top: 20%;
  flex-direction: column;
  right: 20%;
}

.navigation li{
  padding: 2%;
}

.navigation ul li:hover
{
  display: inline-block;
  background-color: black;
}

.btn-chat-
{
  font-size: 1.3em;
}

.navigation .navigate
{
  width: 30%;
  height: 100vmax;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
}

.menu-btn
{
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn__list
{
    width: 40px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.5);
}

.menu-btn__list::before,
.menu-btn__list::after
{
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.5);
    transition: all .3s ease-out;
}
.menu-btn__list::before{
    transform: translateY(-10px);
}

.menu-btn__list::after
{
    transform: translateY(10px);
}

.menu-btn.open .menu-btn__list{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__list::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__list::after
{
    transform: rotate(-45deg) translate(35px, 35px);
}

header {
  background-image: url(/static/assets/bg.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.header-content-title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em 1em 4em 1em;
}

header .header-content p {
  font-size: 14px;
  color: white;
  font-weight: 500;
}

header .header-content h4
{
  text-align: center; 
  font-family: "Abel",sans-serif; 
  font-weight: 700; 
  font-size: 1em;
  color: white;
}

header .header-content .justify-center {
  justify-content: center;
  text-align: center;
}

header .header-content .justify-center h2 {
  font-size: 28px;
  font-family: "Titan One";
  text-shadow: 1px 1px white;
  color: #ff7800;
  font-weight: 500;
}

header .header-content button span {
  cursor: pointer;
  position: relative;
  transition: 0.4s;
  display: inline-block;
  color: white;
}

header .header-content button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20%;
  transition: 0.4s;
}

header .header-content button:hover span {
  padding-right: 20%;
}

header .header-content button:hover span:after {
  opacity: 3;
  right: 0;
}

.content{
  align-items: center; 
  height: 400px;
}

.p-1
{
  text-align: center;
  padding-top: 0.2em;
}

.h5-services
{
  text-align: center;
  font-size: 1em;
}

.p-2
{
  text-align: justify;
  font-size: 12px;
}

.colors, .colors-1
{
  text-align: justify;
  justify-content: center;
  padding: 4%;
}

.colors
{
  background-color: transparent;
  color: black;
}

.colors-1
{
  background-color: rgba(255, 120, 0, 0.9);
  color: white;
}


main section h3 {
  font-family: "Lilita One";
  text-transform: uppercase;
  text-align: center;
}

main h3 {
  font-family: "Titan One";
  color: #ff7800;
}

main hr {
  font-weight: 300;
}

main .about {
  background-image: url(/static/assets/konsultasi.jpeg); 
  background-repeat: no-repeat; 
  background-size: cover;  
  background-attachment: fixed;
  margin-bottom: 2%;
  color: #4e2704;
  font-weight: 500;
  padding: 5em 5em 5em 5em; 
  filter: sepia(10%);
}

main .about .bg
{
  background-color: hsla(28, 82%, 69%, 0.7);
   padding: 2% 8%;
   text-align: justify;
   font-size: 1em;
}

main .about hr
{
  width: 20%;
  border: 10px solid black;

}

main .about p
{
  font-size: 0.7em;
}

main #deteksi-dini {
  background-image: url(/static/assets/daun.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50vh;
}

.btn-fixed
{
    display: block; 
    position: fixed; 
    z-index: 999999999; 
    cursor: pointer; 
    bottom: 2%;  
    right: 30px;
    padding: 0.6em;
    width: 15%;
    background-color: #ff7800;
}

.btn-fixed:hover
{
  background-color: #FFBC97;
}

.btn-fixed:before
{
  box-shadow: rgba(255, 80, 0, 0.3);
}


.card-1
{
  box-shadow: 5px 4px 6px 0 rgba(255, 80, 0, 0.3);
  padding: 1% 0 0 0;
  gap: 4;
  margin: 3%;
  text-align: center;
}

.card-1 p{
  background-color: seashell;
  margin-top: 1%;
}

.card-1 img
{
  width: 200px;
}

.card-form
{
  display: none;
  position: fixed;
  bottom: 10%;
  right: 15px;
  border: 3px solid #f1f1f1;
  background-color: #f1f1f1;
  z-index: 999999999999999;
  transition: 0.5s ease-in;
}

.motivation
{
  background-image: url(/static/assets/konsultasi.jpeg); 
  background-repeat: no-repeat; 
  background-size: cover; 
  padding: 8em 5em 8em 5em; 
  filter: sepia(40%); 
  background-attachment: fixed;
}

.motivation .bg
{
  background-color: rgba(255, 255, 255, 0.4); 
  padding: 5%;
  font-weight: 500;
}

.btn-group h5
{
  text-align: center;
}

.btn-group a
{
  text-decoration: none;
  color: black;
  padding-right: 20px;
}

main .teams
{
  top: -60px; 
  position: relative; 
  margin-right: 2%;
}

main .teams .teams-1
{
  margin-right: 5%; 
  box-shadow: 5px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.active
{
  background-color: #FFBC97;
  display: inline-block;
  transition: ease .5s;
}


@media screen and (min-width: 450px) {
  .header .header-content {
    background-size: 100vh;
  }
}

@media screen and (min-width: 550px) {
  .header-content {
    background-size: 100vmax;
  }

  .btn-chat-
  {
    font-size: 2em;
  }

  .navigation .icon
  {
    display: none;
  }

  .menu-btn__list
  {
    display: none;
  }
  
  .header-content-title {
    background-color: unset;
  }

  .colors
  {
    background-color: rgba(255, 120, 0, 0.9);
    color: white;
  }

  .colors-1
  {
    background-color: transparent;
    color: black;
  }

  .navigation .navigate
  {
    width: 40%;
    height: 100%;
  }

  .navigation
  {
    max-height: 4em;
  }
  .navigation ul {
    width: 60%;
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-top: 20px;
    margin-top: 10px;
    color: bisque;
  }

  main .about p
  {
    font-size: 1em;
  }
}

@media screen and (min-width: 800px) {
  header {
    background-size: 60vmax;
  }

  .navigation {
    background-color: #ff7800;
    position: fixed;
    width: 100%;
    top: -80px;
    justify-content: space-around;
  }

  .navigation .navigate ul {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-between;
  }


  .navigation .icon {
    display: flex;
    justify-items: flex-end;

  }

  header .header-content {
    padding: 12% 1em 5em 10%;
  }

  header .header-content .justify-center {
    justify-content: end;
    text-align: justify;
  }

  header .header-content .justify-center h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  header .header-content h4
  {
    color: black;
    text-align: start;
  }

  header .header-content p {
    font-size: 18px;
    text-transform: lowercase;
    color: black;
  }

  .btn-fixed
  {
    width: 6%;
  }
}
